{% extends 'base.html' %}

{% block content %}
<div class="details-container"> 
  <div class="cine-header">
    <h1>
        All about cine track . here youy can get all the information about cine track and 
        how to use it to track your movies and tv shows
    </h1>
    </div>
    <a href="/movies" class="cine-button">view the list of movies </a>
    <div class="movie-info">
        <img src="https://i.pinimg.com/236x/0c/b8/69/0cb869007e2c3a6f857dc89a1d7b7f52.jpg" alt="The Godfather Part II">
        <div class="movie-details">
            <h2>The Godfather Part II</h2>
            <p>Release Year: 1972</p>
            <p>Genre: Crime, Drama</p>
            <p>Rating: 8.9</p>
           
        </div>

        <div class="about-cine">
            <h2>About CineTrack</h2>
            <p>CineTrack is your ultimate movie tracker, 
                designed to help you keep track of the movies 
                and TV shows you want to watch and the ones you've already watched. With CineTrack, you can easily manage your watchlist, mark movies as watched, and discover new films to add to your collection. Whether you're a casual viewer or a dedicated cinephile,
                 CineTrack is the perfect companion for your 
                 movie-watching journey.</p>
             <P>
                here at CineTrack, we are passionate about movies and 
                TV shows, and we believe that tracking your viewing habits
                 can enhance your entertainment experience. Our platform is
                  designed to be user-friendly and intuitive, allowing you
                   to effortlessly organize your watchlist and keep a 
                   record of the films you've enjoyed. Join our community 
                   of movie lovers and start tracking your cinematic adventures
                    today!
             </P>    

        </div>
</div>

{% endblock %}
